@model IEnumerable<BookStore.Models.Book>
@{
    ViewData["Title"] = "Book List";
}

<div class="text-center">
    <h1 class="display-4">Book Store</h1>

    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
            <tr>
                <td>@book.Name</td>
                <td>@book.Author</td>
                <td>@book.Price</td>
                <td><a href="~/Home/Buy/@book.Id">Buy</a></td>
            </tr>
            }
        </tbody>
    </table>
    <a href="~/Home/List">List of our happy customers</a>
    <br />
    <br />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
